<!--<%@ Master Language="C#" AutoEventWireup="true" CodeFile="reca_en.master.cs" Inherits="master_reca_en" %>-->

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head id="Head1" runat="server">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

    <!--<link rel="stylesheet" href="/cn/style/flexslider.css" type="text/css" media="screen" />-->

    <!--<script src="/cn/js/jqueryv1.71.js"  type="text/javascript"></script>-->

    <!--<script src="/cn/JS/jquery.flexslider-min.js" type="text/javascript"></script>-->

    <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;"/>

    <!--<link rel="stylesheet" href="/cn/demo-stuff/demo.css" type="text/css" media="screen" />-->
    <!---->
    <!---->
    <!--<link href="/cn/style/style.css" rel="stylesheet" type="text/css" />-->

    <!--<script src="/cn/SpryAssets/SpryTabbedPanels.js" type="text/javascript"></script>-->

    <!--<link href="/cn/SpryAssets/SpryTabbedPanels.css" rel="stylesheet" type="text/css" />-->

</head>
<body>
<form id="form1" runat="server">
    <div class="war">
        <div class="logo">
            <div class="nav_en">
                <a href="/en/index.aspx">Home</a> | <a href="/en/info.aspx">Ordering Assistance</a> | <a
                    href="/en/trade.aspx">Trade</a> | <a href="/en/logistics.aspx">Logistics and Custom Clearance</a>
                | <a href="/en/bonded.aspx">Bonded Warehousing</a> | <a href="/en/aboutus.aspx">Contact Us</a></div>
            <div class="lan">
                <table width="57" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                        <td align="center" valign="middle">
                            <a href="/index.aspx"> <img src="/cn/images/lan/ru.gif" width="16" height="11"
                                                        style="cursor:pointer;"/></a></td>
                        <td align="center" valign="middle">
                            <a href="/en/index.aspx"> <img src="/cn/images/lan/en.gif" width="16" height="11"
                                                           style="cursor:pointer;"/></a></td>
                    </tr>
                </table>
            </div>
        </div>

        <!--<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" runat="Server">-->
        <div id="container">
            <div class="flexslider">
                <ul class="slides" id="banner_top_lh" style="display: none;">
                    <!--<%= (this.Master as master_reca_en).bannerPicList[2]%>-->
                    <!--<%= (this.Master as master_reca_en).bannerPicList[3]%>-->
                    <!--<%= (this.Master as master_reca_en).bannerPicList[4]%>-->
                    <!--<%= (this.Master as master_reca_en).bannerPicList[0]%>-->
                    <!--<%= (this.Master as master_reca_en).bannerPicList[1]%>-->
                </ul>

                <script type="text/javascript">
                    document.getElementById("banner_top_lh").style.display = ";
                    $('.flexslider').flexslider();

                </script>

            </div>
        </div>
        <div class="detail">

            <!--<%= new bal.BalArticle().GetCacheContent(3370) %>-->
            <html>
            <head>
                <title></title>
            </head>
            <body>
            <table border="0" cellpadding="1" cellspacing="1"
                   style="border-bottom-color: rgb(255, 102, 0); border-bottom-width: 1px; border-bottom-style: dotted; width: 900px; ">
                <tbody>
                <tr>
                    <td>
                        <span style="font-size:22px;"><span style="color: rgb(7, 51, 140); "><span
                                style="font-family: arial, helvetica, sans-serif; ">Logistics and Customs Clearance</span></span></span>
                    </td>
                </tr>
                </tbody>
            </table>
            <br/>
            <table border="0" cellpadding="1" cellspacing="1" style="height: 150px; width: 900px; ">
                <tbody>
                <tr>
                    <td><img alt="" src="http://reca-international.com/upload/121007075131.jpg" style="width: 299px; height: 199px; "/></td>
                    <td><img alt="" src="http://reca-international.com/upload/121007075156.jpg" style="width: 299px; height: 199px; "/></td>
                    <td><img alt="" src="http://reca-international.com/upload/121007075234.jpg" style="width: 299px; height: 199px; "/></td>
                </tr>
                </tbody>
            </table>
            <p>
                &nbsp;</p>
            <table border="0" cellpadding="1" cellspacing="1" style="width: 900px; ">
                <tbody>
                <tr>
                    <td style="text-align: justify; ">
                        <span style="font-size:16px;"><span style="font-family: arial, helvetica, sans-serif; "><span
                                style="line-height: 20px; color: rgb(51, 51, 51); ">​</span>Reca is one of the largest customs clearance enterprises in Guangzhou with customs clearance rate which reaches 6000 TEUs per month and up to and above 8000 TEUs during peak periods.</span></span>

                        <p>
                            <span style="font-family: arial, helvetica, sans-serif; font-size: 16px; color: rgb(7, 51, 140); ">Reca provides customers with the following services:</span>
                        </p>

                        <div>
                            <span style="font-size:16px;"><span style="font-family: arial, helvetica, sans-serif; ">international shipping services for FCL (Full Container Load) and LCL (Less Container Load) goods</span></span>
                        </div>
                        <div>
                            <span style="font-size:16px;"><span style="font-family: arial, helvetica, sans-serif; ">international air cargo</span></span>
                        </div>
                        <div>
                            <span style="font-size:16px;"><span style="font-family: arial, helvetica, sans-serif; ">goods collection</span></span>
                        </div>
                        <div>
                            <span style="font-size:16px;"><span style="font-family: arial, helvetica, sans-serif; ">bonded warehousing at port of Guangzhou</span></span>
                        </div>
                        <div>
                            <span style="font-size:16px;"><span style="font-family: arial, helvetica, sans-serif; ">customs inspection</span></span>
                        </div>
                        <div>
                            <span style="font-size:16px;"><span style="font-family: arial, helvetica, sans-serif; ">brokers of customs clearance</span></span>
                        </div>
                        <div>
                            <span style="font-size:16px;"><span style="font-family: arial, helvetica, sans-serif; ">quality inspection &amp; quarantine in customs</span></span>
                        </div>
                        <div>
                            <span style="font-size:16px;"><span style="font-family: arial, helvetica, sans-serif; ">Chinese licenses &amp; certificates for importation &amp; exportation</span></span>
                        </div>
                        <div>
                            <span style="font-family: arial, helvetica, sans-serif; font-size: 16px; ">Organizing multi-transportation ways for different types of goods.</span>
                        </div>
                        <p>
                            <span style="font-family: arial, helvetica, sans-serif; font-size: 16px; ">The ideal logistics routes are to ports in Russia, Southeast Asia, West Africa, Middle East, the Northern America from basic ports in China.</span>
                        </p>

                        <p>
                            <span style="font-family: arial, helvetica, sans-serif; font-size: 16px; ">Reca can arrange transportation services from China to the basic ports all around the world. Based on customers&rsquo;
                                special requirements and actual situation of goods, Reca can choose and suggest the best logistics scheme for customers.</span>
                        </p>
                    </td>
                </tr>
                </tbody>
            </table>
            <p>
                &nbsp;</p>

            <p>
                &nbsp;</p>
            </body>
            </html>

        </div>
        <!--</asp:Content>-->

    </div>
    <div class="floder">

        <div class="center_footer">
            <!--<%= new bal.BalArticle().GetCacheContent(3386)%>-->
            <table algin="center" border="0" cellpadding="1" cellspacing="1" style="width: 600px">
                <tbody>
                <tr>
                    <td style="text-align: center">
                        <img height="53"
                             src="http://reca-international.com/upload/aticle_imge/uploadimage/globareca/Admin20120917072643/20120917072751.png"
                             style="line-height: 14px; background-color: rgb(222,236,247); font-family: 宋体; font-size: 12px"
                             width="98"/></td>
                    <td style="text-align: left">
                        <p>
                            &nbsp;</p>

                        <p>
                            <span style="color: #07338c"><span style="font-size: 18px"><span
                                    style="font-family: tahoma, geneva, sans-serif">RECA INTERNATIONAL COMPANY LIMITED</span></span></span>
                        </p>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</form>
</body>
</html>

