<div id="top">
    <div class="container">
        <ul class="language">
            <li class="current"><a href="#">EN</a></li>
            <li><a href="#">CN</a></li>
            <li><a href ="#">RU</a></li>
        </ul>
        <div class="hotline">Hotline Counseling: 020-2241115</div>
    </div>
</div>
<div id="nav">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <img class="logo" src="../images/RECA.png">
        </div>
        <ul class="navigation">
            <li class="active"><a href="http://www.reca-international.com/">Home</a></li>
            <li><a href="http://www.reca-international.com/#company">Company</a></li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle">Service<span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="../article-bonded.html">Bonded Warehousing</a></li>
                    <li><a href="../article-info.html">Professional Assistants</a></li>
                    <li><a href="../article-logistics.html">Logistics and Customs Clearance</a></li>
                    <li><a href="../article-trade.html">Trade</a></li>
                </ul>
            </li>
            <li><a href="http://www.reca-international.com/#contact-us">Contact us</a></li>
        </ul>
    </div>
</div>